#import(gplots, affy, ROCR, kernlab, caret, FSelector, SPIA, igraph, Vennerable, RColorBrewer, org.Hs.eg.db, TxDb.Hsapiens.UCSC.hg19.knownGene, sqldf)
import(affy, caret, igraph, RColorBrewer, sqldf)
#useDynLib(lcyRpkg, .registration=TRUE) dynamic

export(
lcy.affy.normalization,
lcy.attr.check,
lcy.classifier,
lcy.create.db.from.file,
lcy.create.db.from.memory,
lcy.composition.plot,
lcy.cor,
lcy.DEG.samr,
lcy.DEG.summary,
lcy.diff.comparison,
lcy.feature.selector,
lcy.freq.summ,
lcy.heatmap.plot,
lcy.id.name.map,
lcy.ihc.grouping,
lcy.initiation,
lcy.in,
lcy.is.edge.in,
lcy.is.matrix.in,
lcy.gene.annotator,
lcy.gene.exprs.status,
lcy.gene.rank.topology,
lcy.get.vertex.attr,
lcy.get.edge.attr,
lcy.get.graph.attr,
lcy.graph.centrality.sum,
lcy.graph.allShortestPath,
lcy.graph.complemenary,
lcy.graph.expression,
lcy.graph.intersect,
lcy.graph.plot,
lcy.graph.read,
lcy.graph.search,
lcy.graph.score,
lcy.graph.union,
lcy.graph.venndiagram,
lcy.grn.gen,
lcy.misc.cutdendrogram,
lcy.misc.filter.marker,
lcy.nmf.cluster,
lcy.nmf.survey,
lcy.pam.predict,
lcy.pam.train,
lcy.pathway.mutEnrich,
lcy.pathway.search,
lcy.ROCcurve,
lcy.row.join,
lcy.set.vertex.attr,
lcy.set.operation,
lcy.spia,
lcy.svm,
lcy.stat.filter,
lcy.table.collapse,
lcy.table.read,
lcy.table.write,
lcy.table.split,
lcy.tORz.score,
lcy.venn.diagram,

tmp.attr.check,
tmp.edgelist2graph,
tmp.is.directed.graphlist,
tmp.labeled.edgelist,
tmp.matrix.strsplit2graph,
tmp.prepare.set

)

